# Title
*Stats 507, Fall 2021*

Han Qiu
November 11
itskeira@umich.edu

## Filling missing values: Pandas.fillna() method
  - Within pandas, a missing value is denoted by NaN/NA .
  - It is very common to find several entries labelled NaN/NA by Python, when dealing with large dataset. 
  - The `.fillna()`method helps to replace NaN/Na value in a Dataframe or Series with non-null data in a couple of ways.

## Pandas.fillna() method
  - Replace NA/NaN with a scalar value(e.g. 0).
  - For example, you can set the value equals to 0 to fill holes using `value = 0`

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [5]:
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

## Pandas.fillna() method
  - We can propagate non-NA/ non-NaN values forward or backward by using the `method` keyword.
  - There are total four methods avaliable `backfill`, `bfill`, `pad`, `ffill`, where the first two fill values forward and last two fill values backward.

In [7]:
df.fillna(method="ffill")

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

## Pandas.fillna() method
  - If we only want consecutive gaps filled up to a certain number of data points, we can use the `limit` keyword.
  - For example, we can only replace the first NaN element.

In [8]:
values = {"A": 0, "B": 1, "C": 2, "D": 3}
df.fillna(value=values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5
3  0.0  3.0  2.0  4

In [9]:
df.fillna(value=values, limit=1)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  NaN  1
2  NaN  1.0  NaN  5
3  NaN  3.0  NaN  4